*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "celesti";
    src: url("../profile/celesti-from-font/CelestiFrom-rvrqp.otf");
}


.ping-pong{
    font-family: "celesti";
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color:white;
    background-image: url("../profile/background.png");
    background-size: cover;
    gap :3rem;
}
.subping{
    position: relative;
    width:60%;
    height:60%;
}
#table{
    width: 100%;
    height: 100%;
    border : 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    /* filter: blur(10px); */
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 31px 7px rgba(0, 0, 0, 0.25);
    /* cursor: pointer; */

}
/* @keyframes smoothly{
    from{
        background-color: rgba(255, 255, 255, 0.5);
    }
    to{
        background-color: rgba(8, 8, 8, 0.5);
    }
} */
.paddle{
    position: absolute;
    top:50%;
    height: 13%;
    width: 2%;
    background-color: white;
    /* border: 10px solid white; */
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: top 0.1s;
}

#paddle1{
    left: 1%;
}

#paddle2 {
    right: 1%;
}

#ball {
    position: absolute; 
    top: 50%;
    left: 50%;
    height: 4%;
    width: 2%;
    border-radius: 50%;
    background-color: white;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 40%;
    height: 40%;
    border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.score-display {
	/* margin : 0 1rem 0 1rem; */
    font-size: 50px;
    font-family: 'Bungee';
}
.player-name {
	margin-top : 1rem;
	font-size: 30px;
}