.ping-pong{
    font-family: "celesti";
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    color:white;
    background-size: cover;
    gap :3rem;
    margin-top: 2%;
    /* animation : slideUp 0.5s ease; */
}
.ping-pong h1{
    animation : slideUp 0.5s ease;
}
.ping-pong p{
    animation : slideUp 1.2s ease;
}
.ai{
    font-size: 1rem;
    padding-top: 20%;
}
.subping{
    position: relative;
    width:60%;
    height:60%;
    border : 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 31px 7px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation : slideUp 1s ease;
}


.paddle{
    position: absolute;
    top:50%;
    height: 18%;
    width: 1%;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: top 0.1s;
}

#paddle1{
    left: 0.5%;
}

#paddle2 {
    right: 0.5%;
}

#ball {
    position: absolute; 
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    animation : slideUp 0.8s ease;
}

.player-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.profile-pic {
    border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.score-display {
	/* margin : 0 1rem 0 1rem; */
    font-size: 50px;
    font-family: 'Bungee';
    /* display: no; */
}
.player-name {
	margin-top : 1rem;
	font-size: 30px;
    font-family: 'Bungee';
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: 'Bungee';
    color: white;
    animation: pulseEffect 1s infinite;
}

.win-message {
    position : absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    font-family: 'celesti';
    color: white;
    text-align: center;
    margin-top: 10%;

}
.score{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 99vh;
    width: 99vw;
    top: 0;
    left: 0;
    color: white;
    font-size: 14rem;
    backdrop-filter: blur(20px);
    font-family: 'Bungee';
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.retry-btn {
    position: absolute;
    top: 72%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    background-color: #ff5e57;  /* Vibrant color for visibility */
    color: white;
    font-family: 'celesti';
    font-size: 4rem;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 15%;  
    height: 10%;
}

.retry-btn:hover {
    background-color: #ff3b30;  /* Darker red on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1.1);  /* Slightly larger on hover */
}

.retry-btn:active {
    transform: translate(-50%, -50%) scale(0.95);  /* Shrink slightly when clicked */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#gameCostum{
    font-family: 'Bungee';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap :1%;
}

#TableCustom{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 46%;
    right: 4%;
    height: 26rem;
    width: 20rem;
    animation : slideUp 1s ease;
    gap: 5%;
}
.array{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: 'Bungee';
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 17rem;
    height: 24rem;
}
.array:hover {
    transform: translate(0%, 0%) scale(1.05);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
#table1:hover{
    background-color: #ff5e57;
    cursor: pointer;
}
#table2:hover{
    background-color: #ff5e57;
    cursor: pointer;
}
#table3:hover{
    background-color: #ff5e57;
    cursor: pointer;
}


/* Animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulseEffect {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* online */
canvas {
    display: flex;
    /* border : 500rem solid rgb(255, 255, 255); */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 31px 7px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation : slideUp 1s ease;
 }