
/* 2FA Button Styling */
.toggle-2fa {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 55%;
    margin-left: -7%; 
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
}

/* Modal */
.modal {
    position: absolute;
    top: 30%;
    left: 40%;
    color:white;
    font-family : 'Baloo_Bhai_2';
    animation: slideUp 0.8s ease;
    transition: transform 0.3s ease-in-out;
    /* background-color: #333; */
}
.modal:hover{
    transform: scale(1.05);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(231, 13, 13);
    text-decoration: none;
    cursor: pointer;
}

#verificationSection   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideRight 0.8s ease;
}

#verificationCode ,#verifyButton , .sett_save{
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0.5px;
    font-size: large;
    font-family: 'Baloo_Bhai_2';
    background-color: transparent;
}
#verifyButton{
    font-size: small;
    margin-top: 10px;
    cursor: pointer;
}

.sett_mail{
    width: 220%;
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0.5px;
    font-size: large;
    font-family: 'Baloo_Bhai_2';
    background-color: transparent;
}


